/* Define o estilo geral da página */
body {
    font-family: Arial, sans-serif; /* Fonte padrão */
    display: flex; /* Usa o Flexbox para alinhar itens */
    flex-direction: column; /* Alinha itens verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Ocupa a altura total da visualização */
    margin: 0; /* Remove margens padrão */
    background-color: #f0f0f0; /* Cor de fundo suave */
  }
  
  /* Estilo para a div que contém a imagem do Pokémon */
  #pokemon {
    text-align: center; /* Centraliza o texto e a imagem */
    margin-bottom: 20px; /* Espaçamento inferior */
  }
  
  /* Estilo para as imagens dos pokémons */
  #pokemon img {
    max-width: 100%; /* A imagem ocupa no máximo a largura da div */
    height: auto; /* Mantém a proporção da imagem */
    border: 2px solid #333; /* Borda em volta da imagem */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para profundidade */
  }
  
  /* Estilo para os botões de navegação */
  button {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    border: none; /* Remove a borda padrão */
    padding: 10px 20px; /* Espaçamento interno dos botões */
    margin: 5px; /* Espaçamento entre botões */
    border-radius: 5px; /* Bordas arredondadas dos botões */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    font-size: 16px; /* Tamanho da fonte dos botões */
    transition: background-color 0.3s; /* Transição suave para mudança de cor */
    

  }
  
  /* Estilo para os botões ao passar o mouse sobre eles */
  button:hover {
    background-color: #0056b3; /* Cor de fundo mais escura ao passar o mouse */
  }
  
  /* Estilo específico para o botão "Próximo" e "Anterior" */
  button#rigth, button#left {
    display: inline-block; /* Exibe os botões em linha */
  }
  
  /* Adiciona um container flexível para os botões */
  #button-container {
    display: flex; /* Usa o Flexbox para alinhar os botões */
    justify-content: space-between; /* Espaça os botões igualmente*/
    width: 100%; /* Ocupa a largura total disponível */
    max-width: 600px; /* Largura máxima para uma apresentação melhor em telas maiores */
    transform: translate(-50%, -50%);
  }
  
  /* Responsividade para dispositivos móveis */
  @media (max-width: 600px) {
    button {
      font-size: 14px; /* Reduz o tamanho da fonte dos botões em telas menores */
      padding: 8px 16px; /* Reduz o padding dos botões em telas menores */
    }
  
    #button-container {
      flex-direction: column; /* Alinha os botões verticalmente em telas pequenas */
      align-items: center; /* Centraliza os botões verticalmente */
    }
  
    button#rigth, button#left {
      margin: 10px 0; /* Adiciona espaçamento vertical entre os botões */
    }
  }
  